name: Build and Publish NuGet on Tag

on:
  push:
    tags:
      - '*'

jobs:
  build-and-publish:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '8.0.*'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Pack
      run: dotnet pack --configuration Release --no-build -o nupkgs

    - name: Determine Pre-release Status
      id: prerelease
      run: |
        if [[ ${{ github.ref }} == *"alpha"* ]]; then
          echo "##[set-output name=status;]true"
        else
          echo "##[set-output name=status;]false"
        fi

    - name: Publish to GitHub Releases
      uses: softprops/action-gh-release@v1
      with:
        files: nupkgs/*.nupkg
        prerelease: ${{ steps.prerelease.outputs.status }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
